services:
  mysql:
    image: mysql:8.0
    container_name: musinsa-mysql
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: musinsadb
      MYSQL_USER: musinsa
      MYSQL_PASSWORD: musinsa
      TZ: Asia/Seoul
    command:
      - --character-set-server=utf8mb4
      - --collation-server=utf8mb4_unicode_ci
    volumes:
      - mysql-data:/var/lib/mysql

  redis:
    image: redis:7-alpine
    container_name: musinsa-redis
    ports:
      - "6379:6379"

volumes:
  mysql-data:
