spring:
  datasource:
    url: jdbc:mysql://localhost:3306/musinsadb?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=Asia/Seoul
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: musinsa
    password: musinsa
    hikari:
      maximum-pool-size: 30
      minimum-idle: 10
      connection-timeout: 3000
      idle-timeout: 60000
      max-lifetime: 1800000

  h2:
    console:
      enabled: false

  jpa:
    hibernate:
      ddl-auto: create
    show-sql: false
    open-in-view: false
    properties:
      hibernate:
        format_sql: false
        dialect: org.hibernate.dialect.MySQLDialect
        jdbc:
          batch_size: 50
        order_inserts: true
        order_updates: true

server:
  tomcat:
    threads:
      max: 1000
      min-spare: 200
    max-connections: 10000
    accept-count: 3000
